<div class="blackBg" [ngSwitch]="ATMtype">
    <div class="ichat_atm" *ngSwitchCase="'ichat_ATM_in'">
        <div class="close" (click)="closeDialog()"></div>
        <div class="bdi_top">{{ "ichat 存入鉅富網帳號" | getLang : api.langPackage}}</div>
        <div class="input-group">
                <h2>{{"Amount" | getLang : api.langPackage}}</h2>
                <input type="number" [(ngModel)]="inputGold" [formControl]="goldInputControl">
                <span class="notice_txt">{{"交易最低金額 100 元" | getLang : api.langPackage}}</span>
                <div class="clearboth"></div>
                <p class="errtips">{{erroMsg}}</p>
        </div>
        <div class="btn-group">
            <button class="transfer" [ngClass]="{'notclick_btn': !inputGold || erroMsg }"  [disabled]="!inputGold || erroMsg"
                    type="button" (click)="goldInputControl.disable();ichat_ATM(0)">{{ "存入" | getLang : api.langPackage}}</button>
            <button class="cancel" type="button" (click)="closeDialog()" >{{ "取消" | getLang : api.langPackage}}</button>
        </div>
    </div>
    <div class="ichat_atm" *ngSwitchCase="'ichat_ATM_out'">
        <div class="close" (click)="closeDialog()"></div>
        <div class="bdi_top">{{ "鉅富網帳號轉出 至ichat帳號" | getLang : api.langPackage}}</div>
        <div class="input-group">
                <h2>{{"Amount" | getLang : api.langPackage}}</h2>
                <input type="number" [(ngModel)]="inputGold" [formControl]="goldInputControl">
                <span class="notice_txt">{{"交易最低金額 100 元" | getLang : api.langPackage}}</span>
                <div class="clearboth"></div>
                <p class="errtips">{{erroMsg}}</p>
        </div>
        <div class="btn-group">
            <button class="transfer" [ngClass]="{'notclick_btn': !inputGold || erroMsg }" [disabled]="!inputGold || erroMsg"
                    type="button" (click)="goldInputControl.disable();ichat_ATM(1)" >{{ "轉出" | getLang : api.langPackage}}</button>
            <button class="cancel" type="button" (click)="closeDialog()" >{{ "取消" | getLang : api.langPackage}}</button>
        </div>
    </div>
</div>
