<div class="right_area">
    <h1>下注操作说明</h1>
    <ol>
        <li>
            进入「市场列表」
            <div class="img4-1"></div>
        </li>
        <li>
            选择您要投注的赛事
            <div class="img4-2"></div>
        </li>
        <li>
            点击「下单」
            <div class="img4-3"></div>
        </li>
        <li>
            输入「下注金额」后，按下「确认交易」
            <div class="img4-4"></div>
        </li>
        <li>
            网页弹出「交易成功」即完成下注
            <div class="img4-5"></div>
        </li>
    </ol>
</div>
