<!-- <h1 class="book_h1">选择微信通道</h1>
<ul class="banklist">
	<li>
		<label>
			<input type="radio" name="wechat" checked>
			<div class="wechat"></div>
		</label>
	</li>
</ul> -->
<!--<div *ngIf="showDialog">
	<div class="blackBg">
		<div class="main_center_dialog">
			<div class="close" (click)="closeDialog()"></div>
			<div class="bdi_top">微信支付</div>
			<div class="qrcode">
				<qr-code  [value]="wechatUrl" [size]="250"></qr-code>
				<!--<qr-code  [value]="'http://u.wechat.com/IM4RjCABL5fFCkP0-BSxtgU'" [size]="250"></qr-code>
			</div>
		</div>
	</div>
</div>-->