@charset "utf-8";


main {
		//各頁面style
		&.bulletin_discount {
		.main_center{
			.main_title {
				.title {
					float: left;
					margin: 0 100px 0 5px;
				}
				.title_btn {
					float: left;
					line-height: 30px;
					text-align: center;
					cursor: pointer;
					font-size: 16px;
					font-weight: normal;
					border-radius: 6px 6px 0 0;
					padding: 5px 10px;
					color: #1f1f1f;
					margin: 19px 10px 0 0;
					border: 1px solid #B8B8CC;
					border-bottom: 0;
					letter-spacing: 0;
					@include gradient-gray2;
					&:hover {
						@include gradient-gray2up;
					}
					&.active,
					&:active {
						background: $color-blue18;
						color: #fff;
					}
				}
			}
			.main_content {
				background: none;
				height: calc(100vh - 6vh);
				padding: 25px 45px 100px 45px;
				overflow-y: scroll;
				.card1{
					margin: 20px 0 0 0;
					border-radius: 8px;
				.banner{
					background: url(../img/event/event_0001.jpg) no-repeat;
					background-size: cover;
					background-position: center;
					width: 100%;
					height: 145px;
					position: relative;
					border-radius: 8px 8px 0 0;
					overflow: hidden;
					.check{
						position: absolute;
						bottom: 0;
						right: 0;
					background: url(../img/event/check.png) no-repeat;
					background-size: cover;
					background-position: center;
					width: 200px;
					height: 40px;
					
					}
				}
				.content{
					background: url(../img/event/event_0001_content.jpg) no-repeat;
					background-size: 100%;
					background-position: top;
					width: 100%;
					height: 276vh;
					position: relative;
					border-radius: 0 0 8px 8px;
				}
			}
			.card2{
				margin: 20px 0 0 0;
				border-radius: 8px;
			.banner{
				background: url(../img/event/event_002.jpg) no-repeat;
				background-size: cover;
				background-position: center;
				width: 100%;
				height: 145px;
				position: relative;
				border-radius: 8px 8px 0 0;
				overflow: hidden;
				.check{
					position: absolute;
					bottom: 0;
					right: 0;
				background: url(../img/event/check.png) no-repeat;
				background-size: cover;
				background-position: center;
				width: 200px;
				height: 40px;
				
				}
			}
			.content{
				background: url(../img/event/event_002_content.jpg) no-repeat;
				background-size: 100%;
				background-position: top;
				width: 100%;
				height: 172vh;
				position: relative;
				border-radius: 0 0 8px 8px;
			}
		}





	.card3{
			margin: 20px 0 0 0;
			border-radius: 8px;
		.banner{
			background: url(../img/event/event_0003.jpg) no-repeat;
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 145px;
			position: relative;
			border-radius: 8px 8px 0 0;
			overflow: hidden;
			.check{
				position: absolute;
				bottom: 0;
				right: 0;
			background: url(../img/event/check.png) no-repeat;
			background-size: cover;
			background-position: center;
			width: 200px;
			height: 40px;
			
			}
		}
		.content{
			background: url(../img/event/event_0003_content.jpg) no-repeat;
			background-size: 100%;
			background-position: top;
			width: 100%;
			height: 520vh;
			position: relative;
			border-radius: 0 0 8px 8px;
		}
	}



	.card4{
		margin: 20px 0 0 0;
		border-radius: 8px;
		.banner{
			background: url(../img/event/event_0004.jpg) no-repeat;
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 145px;
			position: relative;
			border-radius: 8px 8px 0 0;
			overflow: hidden;
			.check{
				position: absolute;
				bottom: 0;
				right: 0;
			background: url(../img/event/check.png) no-repeat;
			background-size: cover;
			background-position: center;
			width: 200px;
			height: 40px;
			
			}
		}
		.content{
			background: url(../img/event/event_0004_content.jpg) no-repeat;
			background-size: 100%;
			background-position: top;
			width: 100%;
			height: 520vh;
			position: relative;
			border-radius: 0 0 8px 8px;
		}
	}
	.card5{
		margin: 20px 0 0 0;
		border-radius: 8px;
		.banner{
			background: url(../img/event/event_0005.jpg) no-repeat;
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 145px;
			position: relative;
			border-radius: 8px 8px 0 0;
			overflow: hidden;
			.check{
				position: absolute;
				bottom: 0;
				right: 0;
			background: url(../img/event/check.png) no-repeat;
			background-size: cover;
			background-position: center;
			width: 200px;
			height: 40px;
			
			}
		}
		.content{
			background: url(../img/event/event_0005_content.jpg) no-repeat;
			background-size: 100%;
			background-position: top;
			width: 100%;
			height: 520vh;
			position: relative;
			border-radius: 0 0 8px 8px;
		}
	}
	.card6{
		margin: 20px 0 0 0;
		border-radius: 8px;
		.banner{
			background: url(../img/event/event_0006.jpg) no-repeat;
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 145px;
			position: relative;
			border-radius: 8px 8px 0 0;
			overflow: hidden;
			.check{
				position: absolute;
				bottom: 0;
				right: 0;
			background: url(../img/event/check.png) no-repeat;
			background-size: cover;
			background-position: center;
			width: 200px;
			height: 40px;
			
			}
		}
		.content{
			background: url(../img/event/event_0006_content.jpg) no-repeat;
			background-size: 100%;
			background-position: top;
			width: 100%;
			height: 520vh;
			position: relative;
			border-radius: 0 0 8px 8px;
		}
	}
	.card7{
		margin: 20px 0 0 0;
		border-radius: 8px;
		.banner{
			background: url(../img/event/event_0007.jpg) no-repeat;
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 145px;
			position: relative;
			border-radius: 8px 8px 0 0;
			overflow: hidden;
			.check{
				position: absolute;
				bottom: 0;
				right: 0;
			background: url(../img/event/check.png) no-repeat;
			background-size: cover;
			background-position: center;
			width: 200px;
			height: 40px;
			
			}
		}
		.content{
			background: url(../img/event/event_0007_content.jpg) no-repeat;
			background-size: 100%;
			background-position: top;
			width: 100%;
			height: 520vh;
			position: relative;
			border-radius: 0 0 8px 8px;
		}
	}







			}
		}
	

	}	
}